/**************responsive***********/
@media (max-width: 1399.98px) {
}
@media (max-width: 1199.98px) {
  span#open_burg {
    margin-left: 20px;
  }
}
@media (max-width: 991.98px) {
  .vueperslides__arrow svg {
    width: 1em !important;
    padding: 0em !important;
  }
  .next-side
    .vueperslides__arrows--outside
    .vueperslides__arrow.vueperslides__arrow--next {
    right: -115%;
    padding: 0;
  }
  .next-side .vueperslides__arrows--outside .vueperslides__arrow--prev,
  .vueperslides--rtl .vueperslides__arrows--outside .vueperslides__arrow--next {
    left: -2em;
  }
  .invalid-feedback {
    bottom: -19px;
    font-size: 12px;
  }
  .custom_input2 label {
    font-size: 14px;
  }
  .select_box {
    flex-direction: column;
    align-items: flex-start;
  }
  .drop {
    margin-left: 0;
    width: 100%;
    margin-top: 10px;
  }
}
@media (max-width: 767.98px) {
  .next-side
    .vueperslides__arrows--outside
    .vueperslides__arrow.vueperslides__arrow--next {
    right: -4px;
  }
  .next-side .vueperslides__arrows--outside .vueperslides__arrow--prev,
  .vueperslides--rtl .vueperslides__arrows--outside .vueperslides__arrow--next {
    left: -10px;
  }
}
@media (max-width: 575.98px) {
}
